@model Chat.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Chat</h2>

        <div id="chat-conversation">
            Message:
            <input type="text" id="chat-message" />
            <input type="button" id="sendmessage" value="send" />
            <ul id="discussion">
            </ul>
        </div>

        <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.1.js")"></script>
        <script src="@Url.Content("~/signalr/hubs")"></script>

        <script type="text/javascript">
            $(function () {
                var chat = $.connection.chatHub;

                chat.client.broadcastMessage = function (name, message) {
                    var listItem = '<li>' + name + ": " + message + '</li>';

                    $('#discussion').append(listItem);
                };

                var displayName = "@Model.Username";
                $('#chat-message').focus();

                $.connection.hub.start().done(function () {
                    $('#sendmessage').click(function () {
                        chat.server.send(displayName, $('#chat-message').val());
                        $('#chat-message').val('').focus();
                    });
                });
            });
        </script>
    </div>
</body>
</html>
